<ion-side-menus enable-menu-with-back-views="false" style="">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">InSphire</div>
    </ion-header-bar>
    <ion-content padding="false" style="background: url(img/EVIr88U6RuKLgjrQVgCG_7a6b26cb8ab921a8cfc23f20becac7c8.jpg) no-repeat center;background-size:cover;" class="side-menu-left has-header ">
      <ion-list id="inSphire-list1">
        <ion-item class="item-icon-left" id="inSphire-list-item1" ui-sref="inSphire.home" menu-close="" style="">
          <i class="icon ion-ionic"></i>Home</ion-item>
        <ion-item class="item-icon-left" id="inSphire-list-item2" ui-sref="inSphire.cart" menu-close="" style="">
          <i class="icon ion-ios-cart"></i>Cart</ion-item>
        <ion-item class="item-icon-left" id="inSphire-list-item3" ui-sref="inSphire.cloud" menu-close="" style="">
          <i class="icon ion-ios-cloud"></i>Cloud</ion-item>
        <ion-item class="item-icon-left" id="inSphire-list-item6" ui-sref="inSphire.login" menu-close="" style="">
          <i class="icon ion-log-out"></i>Log-out</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>