<ion-view title="Sign-up" id="page6" style="">
  <ion-content padding="true" style="background: url(img/w5b2fZF3TYGzHJ3onQ1p_crop.php.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="signUp-heading6" style="color: rgb(255, 255, 255); font-weight: 300; font-style: italic;">Welcome new user!</h3>
    <form id="signUp-form5" class="list">
      <label class="item item-input" id="signUp-input9">
        <input placeholder="Username" type="text">
      </label>
      <label class="item item-input" id="signUp-input10">
        <input placeholder="Password" type="text">
      </label>
      <h3 id="signUp-heading7" style="color: rgb(0, 0, 0); text-align: center;"></h3>
      <label class="item item-input" id="signUp-input11">
        <input placeholder="Re-type password" type="text">
      </label>
    </form>
    <form id="signUp-form6" class="list">
      <ion-checkbox id="signUp-checkbox1" style="">I accept the terms</ion-checkbox>
    </form>
    <a ui-sref="inSphire.home" id="signUp-button11" class="button button-positive  button-block">Submit</a>
  </ion-content>
</ion-view>